<html>
  <head>
    <title>membrana</title>
  </head>
  <body> 
     
     <script>
       
       function _open(url){
         window.open(url, '_blank' );
       }
       
     </script>
     
     <b>
       Network Ping Status:
     </b>
     
     <br>
     
     <%-data%>
     
     <hr>
     
     <b>
       Actions:
     </b>
     
     <br>
     <br>
 
      
     <br>  
     <button onclick="_open('/makeDeal?duration=300&maxloss=1')">
       makeDeal
     </button>
     <br>
     <br>
     
     <button onclick="_open('/ping')">
       ping
     </button>
     <br>
     <br>
     
     <button onclick="_open('/dealSetFinished?id=')">
       dealSetFinished
     </button>
     <br>
     <br>
     
     <button onclick="_open('/dealSetVerefied?id=')">
       dealSetVerefied
     </button>
     <br>
     <br>
     
     <button onclick="_open('/get_deal_start?id=')">
       get_deal_start
     </button>
     <br>
     
     <br>
     
     <button onclick="_open('/get_deal_state?id=')">
       get_deal_state
     </button>
     <br>
     
     <br>
     
     <button onclick="_open('/get_trades?id=1')">
       get_trades by id
     </button>
     <br>
     
     <br>
     
     <button onclick="_open('/get_deals?id=1')">
       get_deals by id
     </button>
     <br>
     
     <br>
     
     
     <button onclick="_open('/get_trades?')">
       get all trades
     </button>
     <br>
     
     <br>
     
     <button onclick="_open('/get_deals?')">
       get all deals
     </button>
     <br>
     
     <br>
     
      
     
     
  </body>
</html>